*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777;
  letter-spacing: .2rem;
  padding: 5rem;
  background-color: white;
}

.container {
  background-color: #F7F7F7;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/hed.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83%);
}

.header__logo {
  position: absolute;
  width: 5.6rem;
  height: 7rem;
  left: 5rem;
  top: 5rem;
}

.header__box {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title-first {
  color: white;
}

.title-first__one {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: lefttoRight;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
}

.title-first__two {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .5rem;
  animation-name: RighttoLeft;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  margin-bottom: 6.5rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
  padding: 1.5rem 4rem;
  background: white;
  border-radius: 5rem;
  display: inline-block;
  position: relative;
  font-size: 2rem;
}

.btn_animus {
  animation: btnd;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  transition: all .3s;
}

.btn:hover {
  transform: translateY(-0.4rem);
}

.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}

.btn:active {
  transform: translateY(-0.2rem);
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all .5s;
}

@keyframes lefttoRight {
  0% {
    opacity: .4;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(1rem);
  }
}

@keyframes RighttoLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(-1rem);
  }
}

@keyframes btnd {
  100% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  0% {
    opacity: 1;
    transform: translateY(5rem);
  }
}
